<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de Usuários</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style-login.css') }}"
    />
  </head>
  <body>
    <div class="container-login">
      <div class="content-login">
        <h1>Cadastro</h1>
        <form method="POST" action="/cadastro">
          <input type="text" name="email" placeholder="Email" required />
          <input type="text" name="nome" placeholder="Nome" required />
          <input type="password" name="senha" placeholder="Senha" required />
          <button type="submit">Cadastrar</button>
        </form>
        <a href="/">Voltar a tela inicial</a>
      </div>
    </div>
  </body>
</html>