<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DashBoard</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style-home.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Olá, seja bem-vindo Gabriel!</h1>
        <a href="/">Sair</a>
      </header>

      <div class="body">
        <div class="content-inline">
          <div class="content-row">
            <h2>Informações Gerais:</h2>
            <h3>Exemplo</h3>
            <p>Exemplo</p>
          </div>
          <div class="content-row">
            <h2>Informações Gerais:</h2>
            <h3>Exemplo</h3>
            <p>Exemplo</p>
          </div>
          <div class="content-row">
            <h2>Informações Gerais:</h2>
            <h3>Exemplo</h3>
            <p>Exemplo</p>
          </div>
        </div>
        <div class="content">
          <h2>Gráficos:</h2>
          <h3>Exemplo</h3>
          <p>Exemplo</p>
        </div>
        <div class="content">
          <h2>Listas:</h2>
          <h3>Exemplo</h3>
          <p>Exemplo</p>
        </div>
      </div>
    </div>
  </body>
</html>
