<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página Principal</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style-login.css') }}"
    />
  </head>
  <body>
    <div class="container-login">
      <div class="content-login">
        <h1>Login</h1>
        <form method="POST" action="login.php">
          <input type="text" name="email" placeholder="Email" required />
          <input type="password" name="senha" placeholder="Senha" required />
          <button type="submit">Entrar</button>
          <a href="/cadastro">Cadastrar-se</a>
        </form>
      </div>
    </div>
  </body>
</html>
