<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Erro</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style-avaliacao.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <img src="{{ url_for('static', filename='img/erro.svg')}}" alt="erro" />
      <h2>Algo deu errado!</h2>
      <p>Ocorreu algum Erro no Sistema! Tente novamente daqui a pouco.</p>
      <a href="/avaliacao" class="bnt">Voltar a avaliar!</a>
    </div>
  </body>
</html>
